*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    cursor: url('../img/ponteiro.cur'), auto;
}
.container{
    height: 100vh;
    background-image: url("../img/bg2.gif");
    background-size: cover;
    cursor: url('../img/ponteiro.cur'), auto;
}


.jogadas{
    display: flex;
    height: 100%;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
}

.jogada{
    filter: none;
    padding: 15px;
    border: 2px solid black;
    border-radius: 15px;
    background-image: url("../img/bgcard.jpg");
    background-size: cover;
    background-position-x: -100px;
    /* cursor: pointer; */
    box-shadow: 0px 0px 10px black;
    transition: all 0.4s ease;
}
.jogada:hover{
    border: 2px solid rgb(255, 255, 255);
    filter: brightness(-2);
}

.jogada:hover img{
    filter: brightness(2);

}

.jogada:active{
    background-color: red;
}

.jogada img{
    width: 200px;
    transition: all 0.4s ease;
}